:root {
    --modal-bg-color: lightslategrey
}
body {
    overflow: hidden;
    position: absolute;
}

main {
    background-color: var(--modal-bg-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {    
    background-color: green;
    max-width: 500px;
    /* max-height: 800px; */
    height: 100%;
    width: 100%;
    position: absolute;
    
}
.conteiner-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 33%;
}


.divLogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.logo {
    width: 420px;
   
}

.logo--detalhe {
    position: relative; 
    left: 210px;
    width: 68px;
    
}

.inputsPlay {
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
    text-align: center;
}

.btn--edit {
    border: none;
    color: greenyellow;
    
}